

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


.ultra.cache.json
tmp
*.tsbuildinfo
*.tmp.js
yarn-error.log
dist
tsconfig.tsbuildinfo
node_modules
**/_
**/tests/spec/out
.DS_Store

.next
.vercel
.tamagui
.idea

# local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.localp
.env.production.local

package-lock.json
yarn.lock

# Vim swap files
*.swp
*.swo
